{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
<div class="col-md-12 text-center">
<h2> Are you sure you want to delete {{category.name}}? </h2>
</div>
</div>
<div class="row">
	<div class="col-md-6 text-right">
<form action="#" method = 'post'>

	<button type="submit" class="btn btn-danger" id="submit" type="submit">
	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
</form>
</div>
<div class="col-md-6 text-left">
	<a href = '{{url_for('showCategorys')}}'>
		<button class="btn btn-default delete">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
	</a>
</div>
</div>


{% endblock %}
