{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row">
	<div class="col-md-12 jumbotron">
		<h1>Catalog App</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center">
		<h1>{{ category.name }}</h1>
		<figure class="creator">
			<img src="{{creator.picture}}">
			<figcaption>{{category.user.name}}</figcaption>
		</figure>
	</div>
</div>
<div class="row">
	<div class='flash col-md-12'>
		{% with messages = get_flashed_messages() %} {% if messages %}
		<ul>
			{% for message in messages %}
			<li> <strong> {{ message }} </strong> </li>
			{% endfor %}
		</ul>
		{% endif %} {% endwith %}
	</div>
</div>

{% if items !=[] %}
<div class="row border">
	<div class="col-md-11 col-md-offset-1">
		<h2>Items in Category</h2> {% for i in items %}
		<div class="category-item">
			<h3>{{i.name}}</h3>
			<p>{{i.description}}</p>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %} {% endblock %}
